cta.apiKey=your_cta_api_key

divvy.stationIds=100, 212, 164, 181

twilio.allocationsAccountId=your_twilio_account_id
twilio.authToken=your_twilio_auth_token

pivotalallocations.cookie=your_allocations_site_cookie

pivots.filename=your_pivots_filename