* { padding: 0; margin: 0; }
body { background: #fff; color: #F7F7F7; font-family: "Helvetica Neue"; }

.panel-container { padding: 20px; width: 1040px; height: 1920px; overflow: hidden; background: #222224;  }
.panel {margin-bottom: 20px; overflow: hidden; float: left; width: 100%; position: relative; }

.panel-cta > i { position: absolute; right: -3px; top: -19px; font-size: 100px; transform: rotate(180deg); color: #222224; }

.panel-cta .predictions li {list-style-type:none;}
.panel-cta .predictions > li { width:150px; display:block; float:left; margin-right:20px;}
.panel-cta .predictions > li h1 { text-align:center; width:150px; font-weight:normal; background:#838383;}
.panel-cta .predictions > li h1 span { font-size:100px; font-weight:bold; width:150px; display:block; margin-bottom:-55px;}
.panel-cta .predictions h2 { text-align: center; border-top:5px solid white; font-weight:normal; padding:5px;}
.panel-cta .times {background:white; display:flex; width:100%;}
.panel-cta .times li {color:black; text-align:center; margin:5px auto; width:20px; height:20px; font-weight:bold;}

.panel-cta .line-Brown      { background: #62361b; }
.panel-cta .line-Blue       { background: #00a1de; }
.panel-cta .line-Green      { background: #009b3a; }
.panel-cta .line-Orange     { background: #f9461c; }
.panel-cta .line-Purple     { background: #522398; }
.panel-cta .line-Pink       { background: #e27ea6; }
.panel-cta .line-Red        { background: #c60c30; }

.panel-allocations { background-color: #2ecc71; }
.panel-allocations table { border-spacing: 10px; border-collapse: collapse; width: 100%; }
.panel-allocations table td,
.panel-allocations table th { border-bottom: 1px solid rgba(255,255,255,0.2); padding: 20px; text-align: left; font-weight: normal; font-size: 30px; }
.panel-allocations table th.private { -webkit-filter: blur(8px) invert(100%); -webkit-transition: 0.2s; text-transform: uppercase; }
.panel-allocations table th.private:hover { -webkit-filter: none; text-transform: none;  }
.panel-allocations ul { list-style: none; }
.panel-allocations .projects > li { position: relative; border-bottom: 1px solid rgba(255,255,255,0.2); padding-left: 15px; white-space: nowrap; }
.panel-allocations .projects name { font-size: 32px; line-height: 70px; }
.panel-allocations .pivots { position: absolute; right: 0; top: 0; bottom: 0; padding: 5px 5px 5px 15px; background: -webkit-linear-gradient(left, rgba(46,204,113,0) 0%,rgba(46,204,113,1) 15px,rgba(46,204,113,1) 99%);  }
.panel-allocations .pivots li { display: inline-block; }
.panel-allocations > i { position: absolute; bottom: -15px; left: -10px; font-size: 100px; color: #222224; }

.panel-weather { background: #9b59b6; }
.panel-weather .wrapper { padding: 200px 20px 20px 20px; position: relative; }
.panel-weather .wrapper > * {  z-index: 1; position: relative; }
.panel-weather h1 { font-size: 90px; position: absolute !important; right: 10px; top: 30px; }
.panel-weather p { font-size: 22px; padding-bottom: 5px; }
.panel-weather .current-icon { font-size: 200px; position: absolute; top: -30px; left: -15px; color: #EADDEF; }
.panel-weather table { font-size: 40px; border-spacing: 30px 0; margin: 20px auto 0 auto; white-space: nowrap; }
.panel-weather table th { font-weight: normal; text-align: right; }
.panel-weather sup { font-size: small; }
.panel-weather [icon=wi-night-clear] { left: 20px; }
.panel-weather [icon=wi-rain],
.panel-weather [icon=wi-rain-mix],
.panel-weather [icon=wi-fog],
.panel-weather [icon=wi-snow] { top: -60px; }

jv-pivot { display: inline-block; background: #000; border-radius: 40px; font-size: 26px; margin: 0 5px; text-align: center; width: 60px; font-family: "Courier"; line-height: 60px; }

.panel-messages { background: #f1c40f; position: relative; overflow: hidden; height: 120px; }
.panel-messages .track { white-space: nowrap; overflow: hidden; margin: 0 20px; }
.panel-messages .track .sled { white-space: nowrap; overflow: hidden; margin: 0 0; display: inline-block; }
.panel-messages .track:before { content: " "; position: absolute; left: 0; top: 0; bottom: 0; width: 20px; background-color: #e67e22; }
.panel-messages .messages { list-style: none; line-height:60px; display: inline-block; }
.panel-messages .messages li { display: inline-block; font-size: 20px; background: #f39c12; border-radius: 5px; margin: 14px 0 11px 14px; padding: 10px; }
.panel-messages .messages li.end { background: black; width: 0px; color: black; }
.panel-messages .number-to-sms { padding: 20px; font-size: 26px; background: #e67e22; position: absolute; top: 0; bottom: 0; right: 0; border-radius: 0 20px 20px 0; line-height:120px;}
.panel-messages .number-to-sms > i { position: absolute; bottom: 40px; right: 80px; font-size: 100px; color: #222224; }

@-webkit-keyframes slide {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(-20%); }
}

/*shim, remove me*/
.panel-allocations { width: 612px; height: 465px; }
.panel-weather { width: 408px; margin-left: 20px; }
